# Этот файл является шаблоном конфигурации SSH

# Запретить вход для root
PermitRootLogin no

# Запретить пустые пароли
PermitEmptyPasswords no

# Уровень логгирования: VERBOSE
LogLevel VERBOSE

# Отключить X11Forwarding
X11Forwarding no

